<div class="main">
  <div class="form">
    <img class="logo" src="../../assets/image/logo.jpg">
    <div class="number">
      <h1 style="text-align: center; font-weight: bold;">Register</h1>
      <form>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" [formControl]="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="email.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Password</mat-label>
          <input (input)="passwordChange()" *ngIf="!showPassword" type="password" matInput placeholder="Password" [formControl]="password">
          <mat-icon style="cursor: pointer;" (click)="showHidePassword(true)" *ngIf="!showPassword" matSuffix>visibility_off</mat-icon>
          <input (input)="passwordChange()" *ngIf="showPassword" type="text" matInput placeholder="Password" [formControl]="password">
          <mat-icon style="cursor: pointer;" (click)="showHidePassword(false)" *ngIf="showPassword" matSuffix>visibility</mat-icon>
          <mat-error *ngIf="password.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            Password must be at least 6 characters
          </mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Confirm Password</mat-label>
          <input (input)="passwordChange()" *ngIf="!showConfirmPassword" type="password" matInput placeholder="Confirm Password" [formControl]="confirmPassword">
          <mat-icon style="cursor: pointer;" (click)="showHideConfirmPassword(true)" *ngIf="!showConfirmPassword" matSuffix>visibility_off</mat-icon>
          <input (input)="passwordChange()" *ngIf="showConfirmPassword" type="text" matInput placeholder="Confirm Password" [formControl]="confirmPassword">
          <mat-icon style="cursor: pointer;" (click)="showHideConfirmPassword(false)" *ngIf="showConfirmPassword" matSuffix>visibility</mat-icon>
          <mat-error *ngIf="confirmPassword.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <label style="color: red; font-size: 10.5px; margin-left: 10px;" *ngIf="!passwordMatch">
          Password didn't match. Try again.
        </label>
        <button (click)="onSignUp()" mat-flat-button style="width: 100%; height: 40px;" color="primary" [disabled]="email.invalid || password.invalid || confirmPassword.invalid || !passwordMatch">Sign Up</button><br><br><br>
        <div style="text-align: center;">
          <label>Already have an account? <a (click)="signIn()" style="color: #00a3fe; cursor: pointer;">Sign In</a></label>
        </div>

      </form>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="submit">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
